/*Pau y Jose*/
:root{
    --size: 40px;
    --fondo: #777;
    --num-columnas : 10;
    --num-filas : 10;
}

body {
    background-image: url("CubosFondo.svg");
    background-size: 104px;
    background-position: center;
    display: grid;
    justify-content: center;
    text-align: center;
}

h1 {
    color: #fcfc20;
    text-shadow: 1px 1px 2px #3d3e00;
}

#fondo {
    background-color: var(--fondo);
    border-right: var(--fondo) solid 50px;
    border-left: var(--fondo) solid 50px;
    border-radius: 18px 16px;
}


#mensaje {
    background-color: lightskyblue;
    color: #3d3d3d;
    font-weight: bold;
    border-left: 2px solid yellow;
    border-top: 2px solid yellow;
    border-right: 2px solid yellowgreen;
    border-bottom: 2px solid yellowgreen;
    margin: 40px;

}

#tablero{
    padding: 10px;
    display:grid;
    grid-template-columns: repeat(var(--num-columnas), var(--size));
    grid-template-rows: repeat(var(--num-filas), var(--size));
    background-color: #BBBBBB;
    border-left: 2px solid #D3D3D3;
    border-top: 2px solid #D3D3D3;
    border-right: 2px solid #A9A9A9;
    border-bottom: 2px solid #A9A9A9;
    width: calc(var(--num-columnas)*var(--size));
}
#tablero div{
    background-color: lime;
    border-left: 2px solid lightgreen;
    border-top: 2px solid lightgreen;
    border-right: 2px solid green;
    border-bottom: 2px solid green;
    text-align: center;
    line-height: var(--size);
}


#tablero div.destapado{
    font-weight: bold;
    background-color: saddlebrown;
    border-left: 2px solid peru;
    border-top: 2px solid peru;
    border-right: 2px solid burlywood;
    border-bottom: 2px solid burlywood;
    text-shadow: 1px 1px 2px #999999;
    font-size: 16pt;
    animation: revealAnimation 0.3s forwards;
}
#tablero div.minaExplotada{
    background-color: #FF0000;
}
#tablero div.banderaErronea{
    background-color: lime;
    border: 5px solid red;
}


#tablero div.c1{ color: #00ffff;}
#tablero div.c2{ color: #0099ff;}
#tablero div.c3{ color: #0033ff;}
#tablero div.c4{ color: #00ff33;}
#tablero div.c5{ color: #ccff00;}
#tablero div.c6{ color: #ffcc00;}
#tablero div.c7{ color: #ff3300;}
#tablero div.c8{ color: #660000;}

.icon-bandera {
    background-image: url("Banderita.svg");
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
}

.icon-bomba {
    background-image: url("Mina.svg");
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
}

@keyframes revealAnimation {
    0% { transform: scale(0.8); opacity: 0; }
    100% { transform: scale(1); opacity: 1; }
}

.minaExplotadaAnimacion {
    animation: shakeAnimation 0.3s;
}

@keyframes shakeAnimation {

    0% { transform: scale(10%);}
    75% { transform: scale(5000%);}
    100% {opacity: 0; }

}

